!!!
%html
  %head
    %title SendEmails
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :js
  %body
    .container
      - if notice or alert or flash[:error]
        #flash-messages
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
          - if flash[:error]
            %p.error= flash[:error]
      = yield